In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('clean_jobs.csv')

In [17]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               327 non-null    int64
 1   title            327 non-null    object
 2   company          327 non-null    object
 3   location         327 non-null    object
 4   link             327 non-null    object
 5   source           327 non-null    object
 6   date_posted      327 non-null    object
 7   work_type        0 non-null      float64
 8   employment_type  0 non-null      float64
 9   description      327 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 25.7+ KB

In [19]:
df.head()

,id,title,company,location,link,source,date_posted,work_type,employment_type,description
0,1,Data Analyst,Meta,"New York, NY",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
1,2,Data Analyst,Meta,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
2,3,Data Analyst,Meta,"Los Angeles, CA",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
3,4,Data Analyst,Meta,"Washington, DC",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-14,NaN,NaN,The Social Measurement team is a growing team ...
4,5,Data Analyst II,Pinterest,"Chicago, IL",https://www.linkedin.com/jobs/view/data-analys...,LinkedIn,2025-04-16,NaN,NaN,About Pinterest\n\nMillions of people around t...

In [23]:
df_simplified = df[['title', 'description']]

In [25]:
df_simplified.head()

             title                                        description
0     Data Analyst  The Social Measurement team is a growing team ...
1     Data Analyst  The Social Measurement team is a growing team ...
2     Data Analyst  The Social Measurement team is a growing team ...
3     Data Analyst  The Social Measurement team is a growing team ...
4  Data Analyst II  About Pinterest\n\nMillions of people around t...

In [29]:
vagas = df_simplified['title'].unique()

In [35]:
cont_vagas = df_simplified['title'].value_counts()

In [41]:
cont_vagas.info()

<class 'pandas.core.series.Series'>
Index: 149 entries, Data Analyst to Data Engineer I
Series name: count
Non-Null Count  Dtype
--------------  -----
149 non-null    int64
dtypes: int64(1)
memory usage: 2.3+ KB

In [63]:
def agrupar_dados(titulo, title_series):

    def renomear(title):
        if titulo in title.lower():
            return titulo + "(agrupado)"
        else:
            return title
        
    title_renomeado = title_series.rename(index=renomear)

    agrupado = title_renomeado.groupby(level=0).sum()

    return agrupado

In [65]:
cont_vagas_agrupado = agrupar_dados("data analyst", cont_vagas)
print(cont_vagas_agrupado)

title
(USA) Data Engineer III                       1
AI Engineer                                   1
AI/ML Developer                               1
AI/ML Engineer                                1
AI/ML Researcher                              1
                                             ..
Sr. Data Engineer                             1
Sr. Data Engineer, Analytics                  1
Staff Data Scientist, Strategy & Insights     1
UK 2025 Data Engineer Internship              1
data analyst(agrupado)                       89
Name: count, Length: 123, dtype: int64

In [69]:
cont_vagas_agrupado_2 = agrupar_dados("data engineer", cont_vagas_agrupado)
print(cont_vagas_agrupado_2)

title
AI Engineer                                                    1
AI/ML Developer                                                1
AI/ML Engineer                                                 1
AI/ML Researcher                                               1
ANALISTA GESTAO DE INDICADORES PL                              1
                                                              ..
Software Engineer L4, Machine Learning Platform (Metaflow)     1
Software Engineer, AI Platform - New Grad                      1
Staff Data Scientist, Strategy & Insights                      1
data analyst(agrupado)                                        89
data engineer(agrupado)                                       96
Name: count, Length: 81, dtype: int64

In [71]:
cont_vagas_3 = agrupar_dados("data scientist", cont_vagas_agrupado_2)
print(cont_vagas_3)

title
AI Engineer                                                              1
AI/ML Developer                                                          1
AI/ML Engineer                                                           1
AI/ML Researcher                                                         1
ANALISTA GESTAO DE INDICADORES PL                                        1
Analista de Análise de Dados Junior                                      1
Analista de Business Intelligence Júnior                                 1
Analista de Dados Junior - São Paulo/SP                                  1
Analista de Dados Júnior                                                 1
Analista de Dados Júnior | Data Viz                                      1
Analyst                                                                  1
Analyst, Data Analytics & Intelligence                                   1
Analyst, Data Science                                                    1
Analyst, Data Science, RMBS                                              1
Analyst-Data Science                                                     1
Analytics Associate                                                      1
Analytics Engineer (L4) - Acquisition                                    1
Cientista de Dados - Estágio                                             1
Cientista de Dados II - Área Prevenção a Fraudes                         1
Customer Insights Analyst                                                1
Customer Relationship Management Analyst                                 1
Data & Analytics, Analyst                                                1
Data Analytics                                                           2
Data Analytics Engineer                                                  1
Data Associate - Gurgaon                                                 1
Data Intern                                                              1
Data Operation Engineer I                                                1
Data Platform Analyst, Subscriptions                                     1
Data Products Analyst, YouTube                                           4
GEN AI/ML                                                                1
Insights Analyst                                                         1
Jr. Data & BI Analyst                                                    1
Junior Artificial Intelligence (AI) / Machine Learning (ML) Engineer     1
Junior Frontend Developer                                                1
ML Software Engineer (L4/L5) - Media Algorithms                          1
Machine Learning Engineer                                                9
Machine Learning Engineer (Berlin, Germany)                              1
Machine Learning Engineer (Junior)                                       1
Machine Learning Engineer (L5) - Content & Media ML Foundations          1
Machine Learning Software Engineer (L5) - Content and Studio             1
Officer - Real Time Analytics                                            1
Remote Engineer, Data, I                                                 1
Research And Development Scientist                                       1
Senior Software Engineer, Systems Infrastructure                         1
Software Engineer 5, Data Clean Room                                     1
Software Engineer L4, Machine Learning Platform (Metaflow)               1
Software Engineer, AI Platform - New Grad                                1
data analyst(agrupado)                                                  89
data engineer(agrupado)                                                 96
data scientist(agrupado)                                                83
Name: count, dtype: int64

In [73]:
cont_vagas_4 = agrupar_dados("data science", cont_vagas_3)
print(cont_vagas_4)

title
AI Engineer                                                              1
AI/ML Developer                                                          1
AI/ML Engineer                                                           1
AI/ML Researcher                                                         1
ANALISTA GESTAO DE INDICADORES PL                                        1
Analista de Análise de Dados Junior                                      1
Analista de Business Intelligence Júnior                                 1
Analista de Dados Junior - São Paulo/SP                                  1
Analista de Dados Júnior                                                 1
Analista de Dados Júnior | Data Viz                                      1
Analyst                                                                  1
Analyst, Data Analytics & Intelligence                                   1
Analytics Associate                                                      1
Analytics Engineer (L4) - Acquisition                                    1
Cientista de Dados - Estágio                                             1
Cientista de Dados II - Área Prevenção a Fraudes                         1
Customer Insights Analyst                                                1
Customer Relationship Management Analyst                                 1
Data & Analytics, Analyst                                                1
Data Analytics                                                           2
Data Analytics Engineer                                                  1
Data Associate - Gurgaon                                                 1
Data Intern                                                              1
Data Operation Engineer I                                                1
Data Platform Analyst, Subscriptions                                     1
Data Products Analyst, YouTube                                           4
GEN AI/ML                                                                1
Insights Analyst                                                         1
Jr. Data & BI Analyst                                                    1
Junior Artificial Intelligence (AI) / Machine Learning (ML) Engineer     1
Junior Frontend Developer                                                1
ML Software Engineer (L4/L5) - Media Algorithms                          1
Machine Learning Engineer                                                9
Machine Learning Engineer (Berlin, Germany)                              1
Machine Learning Engineer (Junior)                                       1
Machine Learning Engineer (L5) - Content & Media ML Foundations          1
Machine Learning Software Engineer (L5) - Content and Studio             1
Officer - Real Time Analytics                                            1
Remote Engineer, Data, I                                                 1
Research And Development Scientist                                       1
Senior Software Engineer, Systems Infrastructure                         1
Software Engineer 5, Data Clean Room                                     1
Software Engineer L4, Machine Learning Platform (Metaflow)               1
Software Engineer, AI Platform - New Grad                                1
data analyst(agrupado)                                                  89
data engineer(agrupado)                                                 96
data science(agrupado)                                                   3
data scientist(agrupado)                                                83
Name: count, dtype: int64

In [75]:
cont_vagas_5 = agrupar_dados("machine learning", cont_vagas_4)
print(cont_vagas_5)

title
AI Engineer                                          1
AI/ML Developer                                      1
AI/ML Engineer                                       1
AI/ML Researcher                                     1
ANALISTA GESTAO DE INDICADORES PL                    1
Analista de Análise de Dados Junior                  1
Analista de Business Intelligence Júnior             1
Analista de Dados Junior - São Paulo/SP              1
Analista de Dados Júnior                             1
Analista de Dados Júnior | Data Viz                  1
Analyst                                              1
Analyst, Data Analytics & Intelligence               1
Analytics Associate                                  1
Analytics Engineer (L4) - Acquisition                1
Cientista de Dados - Estágio                         1
Cientista de Dados II - Área Prevenção a Fraudes     1
Customer Insights Analyst                            1
Customer Relationship Management Analyst             1
Data & Analytics, Analyst                            1
Data Analytics                                       2
Data Analytics Engineer                              1
Data Associate - Gurgaon                             1
Data Intern                                          1
Data Operation Engineer I                            1
Data Platform Analyst, Subscriptions                 1
Data Products Analyst, YouTube                       4
GEN AI/ML                                            1
Insights Analyst                                     1
Jr. Data & BI Analyst                                1
Junior Frontend Developer                            1
ML Software Engineer (L4/L5) - Media Algorithms      1
Officer - Real Time Analytics                        1
Remote Engineer, Data, I                             1
Research And Development Scientist                   1
Senior Software Engineer, Systems Infrastructure     1
Software Engineer 5, Data Clean Room                 1
Software Engineer, AI Platform - New Grad            1
data analyst(agrupado)                              89
data engineer(agrupado)                             96
data science(agrupado)                               3
data scientist(agrupado)                            83
machine learning(agrupado)                          15
Name: count, dtype: int64

In [79]:
cont_vagas_6 = agrupar_dados("analista", cont_vagas_5)
print(cont_vagas_6)

title
AI Engineer                                          1
AI/ML Developer                                      1
AI/ML Engineer                                       1
AI/ML Researcher                                     1
Analyst                                              1
Analyst, Data Analytics & Intelligence               1
Analytics Associate                                  1
Analytics Engineer (L4) - Acquisition                1
Cientista de Dados - Estágio                         1
Cientista de Dados II - Área Prevenção a Fraudes     1
Customer Insights Analyst                            1
Customer Relationship Management Analyst             1
Data & Analytics, Analyst                            1
Data Analytics                                       2
Data Analytics Engineer                              1
Data Associate - Gurgaon                             1
Data Intern                                          1
Data Operation Engineer I                            1
Data Platform Analyst, Subscriptions                 1
Data Products Analyst, YouTube                       4
GEN AI/ML                                            1
Insights Analyst                                     1
Jr. Data & BI Analyst                                1
Junior Frontend Developer                            1
ML Software Engineer (L4/L5) - Media Algorithms      1
Officer - Real Time Analytics                        1
Remote Engineer, Data, I                             1
Research And Development Scientist                   1
Senior Software Engineer, Systems Infrastructure     1
Software Engineer 5, Data Clean Room                 1
Software Engineer, AI Platform - New Grad            1
analista(agrupado)                                   6
data analyst(agrupado)                              89
data engineer(agrupado)                             96
data science(agrupado)                               3
data scientist(agrupado)                            83
machine learning(agrupado)                          15
Name: count, dtype: int64

In [81]:
cont_vagas_7 = agrupar_dados("analyst", cont_vagas_6)
print(cont_vagas_7)

title
AI Engineer                                           1
AI/ML Developer                                       1
AI/ML Engineer                                        1
AI/ML Researcher                                      1
Analytics Associate                                   1
Analytics Engineer (L4) - Acquisition                 1
Cientista de Dados - Estágio                          1
Cientista de Dados II - Área Prevenção a Fraudes      1
Data Analytics                                        2
Data Analytics Engineer                               1
Data Associate - Gurgaon                              1
Data Intern                                           1
Data Operation Engineer I                             1
GEN AI/ML                                             1
Junior Frontend Developer                             1
ML Software Engineer (L4/L5) - Media Algorithms       1
Officer - Real Time Analytics                         1
Remote Engineer, Data, I                              1
Research And Development Scientist                    1
Senior Software Engineer, Systems Infrastructure      1
Software Engineer 5, Data Clean Room                  1
Software Engineer, AI Platform - New Grad             1
analista(agrupado)                                    6
analyst(agrupado)                                   101
data engineer(agrupado)                              96
data science(agrupado)                                3
data scientist(agrupado)                             83
machine learning(agrupado)                           15
Name: count, dtype: int64

In [87]:
from collections import Counter
import re

In [101]:
df_ds = df[df['title'].str.contains('data scientist', case=False, na=False)]

text_description = ' '.join(df_ds['description'].dropna().tolist()).lower()

palavras = re.findall(r'\b\w+\b', text_description)

stopwords = set(['the', 'and', 'to', 'of', 'in', 'a', 'for', 'with', 'on', 'is',
                 'as', 'at', 'by', 'an', 'be', 'are', 'from', 'that', 'this', 'or', 'we', 'you', 'your'])

skills = [p for p in palavras if p not in stopwords and len(p)>2]

contagem_skills_ds = Counter(skills).most_common(200)

print(contagem_skills_ds)

[('data', 1035), ('will', 485), ('product', 470), ('experience', 426), ('meta', 401), ('our', 396), ('build', 261), ('people', 249), ('business', 245), ('work', 242), ('analytics', 233), ('more', 204), ('technical', 203), ('help', 202), ('insights', 202), ('teams', 178), ('benefits', 166), ('world', 164), ('analytical', 163), ('science', 163), ('team', 163), ('skills', 162), ('engineering', 154), ('using', 154), ('analysis', 150), ('about', 142), ('learning', 142), ('other', 136), ('problems', 132), ('including', 131), ('development', 128), ('across', 127), ('status', 127), ('years', 127), ('influence', 126), ('their', 125), ('qualifications', 124), ('products', 122), ('gender', 122), ('beyond', 120), ('not', 120), ('compensation', 120), ('through', 119), ('statistical', 118), ('degree', 117), ('scientist', 115), ('businesses', 112), ('identify', 111), ('partner', 111), ('approaches', 111), ('quantitative', 107), ('marketing', 106), ('understand', 105), ('accommodations', 105), ('employment', 104), ('models', 103), ('applicable', 102), ('opportunities', 101), ('role', 101), ('cross', 100), ('python', 100), ('support', 99), ('use', 98), ('sql', 98), ('functional', 97), ('disability', 97), ('machine', 97), ('what', 96), ('please', 96), ('develop', 94), ('decisions', 93), ('working', 93), ('wide', 91), ('shape', 90), ('related', 90), ('field', 89), ('driven', 88), ('process', 88), ('000', 88), ('based', 86), ('have', 86), ('partners', 85), ('technologies', 85), ('like', 85), ('opportunity', 85), ('applications', 83), ('billions', 83), ('equity', 83), ('base', 83), ('show', 83), ('recommendations', 82), ('collaborate', 81), ('strategy', 81), ('sexual', 80), ('experiences', 78), ('protected', 78), ('bonus', 77), ('solve', 75), ('investment', 75), ('drive', 75), ('location', 75), ('new', 74), ('metrics', 74), ('individual', 73), ('year', 73), ('around', 72), ('solutions', 72), ('relevant', 71), ('future', 70), ('challenges', 70), ('languages', 70), ('all', 70), ('range', 69), ('who', 69), ('salary', 69), ('tools', 69), ('growth', 68), ('statistics', 68), ('connect', 68), ('law', 68), ('one', 67), ('large', 67), ('ability', 67), ('research', 66), ('sales', 66), ('different', 66), ('building', 66), ('also', 66), ('learn', 66), ('design', 66), ('strong', 66), ('define', 65), ('millions', 65), ('impact', 65), ('test', 65), ('connection', 65), ('knowledge', 65), ('part', 64), ('time', 64), ('complex', 63), ('applicants', 63), ('communication', 62), ('rate', 62), ('into', 62), ('instagram', 61), ('equal', 61), ('facing', 60), ('software', 60), ('computer', 60), ('screens', 60), ('may', 60), ('any', 60), ('sets', 59), ('value', 58), ('committed', 58), ('facebook', 57), ('messenger', 56), ('whatsapp', 56), ('but', 56), ('include', 56), ('hundreds', 55), ('array', 55), ('key', 55), ('minimum', 55), ('bachelor', 55), ('com', 55), ('understanding', 55), ('job', 55), ('performance', 55), ('such', 55), ('ensure', 54), ('strategic', 54), ('responsibilities', 54), ('trends', 54), ('identity', 54), ('expertise', 53), ('mathematics', 53), ('preferred', 53), ('information', 53), ('environment', 53), ('technology', 52), ('employer', 52), ('intelligence', 52), ('company', 52), ('bring', 51), ('developing', 51), ('medical', 51), ('providing', 51), ('need', 51), ('apply', 50), ('digital', 50), ('orientation', 50), ('leadership', 49), ('improve', 49), ('religion', 48), ('origin', 48), ('annual', 48), ('provide', 48), ('them', 47), ('race', 47)]

In [103]:
df_da = df[df['title'].str.contains('data analyst', case=False, na=False)]

text_description = ' '.join(df_da['description'].dropna().tolist()).lower()

palavras = re.findall(r'\b\w+\b', text_description)

stopwords = set(['the', 'and', 'to', 'of', 'in', 'a', 'for', 'with', 'on', 'is',
                 'as', 'at', 'by', 'an', 'be', 'are', 'from', 'that', 'this', 'or', 'we', 'you', 'your'])

skills = [p for p in palavras if p not in stopwords and len(p)>2]

contagem_skills_da = Counter(skills).most_common(200)

print(contagem_skills_da)

[('data', 1047), ('our', 360), ('experience', 359), ('business', 289), ('work', 228), ('team', 221), ('will', 216), ('analysis', 180), ('skills', 172), ('more', 161), ('role', 145), ('insights', 140), ('analytics', 137), ('analyst', 130), ('other', 128), ('tools', 128), ('support', 125), ('benefits', 120), ('reporting', 119), ('sql', 118), ('including', 112), ('ability', 110), ('strong', 106), ('status', 105), ('time', 100), ('about', 99), ('working', 96), ('related', 95), ('all', 95), ('have', 93), ('teams', 93), ('requirements', 92), ('their', 91), ('show', 89), ('marketing', 85), ('performance', 85), ('develop', 85), ('years', 85), ('not', 84), ('company', 84), ('technical', 83), ('required', 82), ('position', 81), ('across', 80), ('such', 79), ('employment', 79), ('reports', 79), ('dashboards', 78), ('gender', 78), ('tableau', 77), ('into', 77), ('management', 77), ('power', 77), ('help', 75), ('stakeholders', 75), ('new', 75), ('opportunity', 74), ('based', 74), ('information', 73), ('people', 72), ('qualifications', 72), ('disability', 71), ('process', 70), ('analytical', 69), ('responsibilities', 69), ('what', 69), ('key', 69), ('solutions', 68), ('may', 68), ('compensation', 68), ('processes', 68), ('environment', 67), ('any', 67), ('knowledge', 67), ('python', 66), ('using', 65), ('degree', 65), ('quality', 65), ('job', 64), ('best', 63), ('science', 63), ('driven', 62), ('identify', 61), ('paid', 61), ('social', 60), ('life', 60), ('opportunities', 60), ('employees', 60), ('client', 60), ('create', 59), ('range', 59), ('visualization', 59), ('within', 58), ('can', 58), ('needs', 58), ('proficiency', 57), ('provide', 57), ('field', 56), ('meta', 56), ('office', 55), ('fanduel', 55), ('ensure', 55), ('through', 55), ('trends', 54), ('projects', 54), ('please', 54), ('drive', 54), ('employer', 53), ('health', 53), ('communication', 53), ('preferred', 52), ('clients', 52), ('world', 51), ('equal', 51), ('complex', 50), ('join', 50), ('build', 49), ('protected', 49), ('internal', 49), ('services', 49), ('measurement', 48), ('high', 48), ('applicants', 48), ('techniques', 47), ('sexual', 47), ('applicable', 47), ('salary', 47), ('collaborate', 47), ('make', 47), ('excel', 47), ('also', 46), ('maintain', 46), ('000', 46), ('product', 46), ('analyze', 46), ('part', 46), ('customer', 46), ('impact', 45), ('bachelor', 45), ('who', 45), ('digital', 45), ('medical', 45), ('law', 45), ('industry', 45), ('development', 45), ('communicate', 44), ('orientation', 44), ('com', 44), ('looking', 44), ('insurance', 44), ('making', 44), ('statistics', 43), ('advanced', 43), ('building', 43), ('location', 43), ('functional', 43), ('various', 43), ('employee', 43), ('decisions', 43), ('research', 42), ('technology', 42), ('age', 42), ('they', 42), ('expertise', 42), ('personal', 42), ('design', 42), ('systems', 42), ('technologies', 41), ('race', 41), ('growth', 41), ('value', 41), ('day', 41), ('visualizations', 40), ('well', 40), ('statistical', 39), ('like', 39), ('identity', 39), ('actionable', 39), ('national', 38), ('learning', 38), ('need', 38), ('include', 38), ('project', 38), ('responsible', 37), ('religion', 37), ('state', 37), ('program', 37), ('platform', 37), ('plan', 37), ('cross', 37), ('every', 37), ('application', 37), ('global', 37), ('decision', 37), ('understand', 36), ('relevant', 36), ('committed', 36), ('its', 36), ('off', 36), ('understanding', 36)]

In [127]:
import re

skills_alvo = {
    'python': [r'\bpython\b', r'\bpython[,\\.;]'],
    'sql': [r'\bsql\b', r'\bmysql\b', r'\bpostgresql\b'],
    'power_bi': [r'\bpower\s*bi\b', r'\bpowerbi\b'],
    'tableau': [r'\btableau\b'],
    'excel': [r'\bexcel\b'],
    'machine_learning': [r'\bmachine\s*learning\b', r'\bml\b'],
    'spark': [r'\bspark\b'],
    'aws': [r'\baws\b'],
    'azure': [r'\bazure\b']
}

contagem_ds = defaultdict(int)

for desc in df_ds['description'].dropna().str.lower():
    for skill, padroes in skills_alvo.items():
        for padrao in padroes:
            contagem_ds[skill] += len(re.findall(padrao, desc))

print(sorted(contagem_ds.items(), key=lambda x: x[1], reverse=True))

[('python', 135), ('machine_learning', 110), ('sql', 98), ('power_bi', 21), ('tableau', 20), ('spark', 13), ('azure', 10), ('aws', 9), ('excel', 3)]

In [129]:
import re

skills_alvo = {
    'python': [r'\bpython\b', r'\bpython[,\\.;]'],
    'sql': [r'\bsql\b', r'\bmysql\b', r'\bpostgresql\b'],
    'power_bi': [r'\bpower\s*bi\b', r'\bpowerbi\b'],
    'tableau': [r'\btableau\b'],
    'excel': [r'\bexcel\b'],
    'machine_learning': [r'\bmachine\s*learning\b', r'\bml\b'],
    'spark': [r'\bspark\b'],
    'aws': [r'\baws\b'],
    'azure': [r'\bazure\b']
}

contagem_da = defaultdict(int)

for desc in df_da['description'].dropna().str.lower():
    for skill, padroes in skills_alvo.items():
        for padrao in padroes:
            contagem_da[skill] += len(re.findall(padrao, desc))

print(sorted(contagem_da.items(), key=lambda x: x[1], reverse=True))

[('sql', 118), ('python', 89), ('power_bi', 82), ('tableau', 77), ('excel', 47), ('machine_learning', 20), ('aws', 13), ('azure', 13), ('spark', 8)]

In [123]:
df_de = df[df['title'].str.contains('data engineer', case=False, na=False)]

text_description = ' '.join(df_de['description'].dropna().tolist()).lower()

palavras = re.findall(r'\b\w+\b', text_description)

stopwords = set(['the', 'and', 'to', 'of', 'in', 'a', 'for', 'with', 'on', 'is',
                 'as', 'at', 'by', 'an', 'be', 'are', 'from', 'that', 'this', 'or', 'we', 'you', 'your'])

skills = [p for p in palavras if p not in stopwords and len(p)>2]

contagem_skills_de = Counter(skills).most_common(200)

print(contagem_skills_de)

[('data', 2217), ('experience', 677), ('our', 572), ('will', 486), ('meta', 311), ('engineering', 290), ('business', 273), ('build', 272), ('work', 231), ('team', 231), ('more', 228), ('solutions', 216), ('product', 211), ('design', 208), ('pipelines', 189), ('benefits', 189), ('people', 187), ('years', 187), ('skills', 181), ('development', 177), ('engineer', 173), ('about', 172), ('qualifications', 166), ('technologies', 163), ('have', 160), ('working', 155), ('building', 153), ('including', 152), ('technical', 149), ('systems', 148), ('world', 144), ('sql', 140), ('compensation', 139), ('support', 138), ('quality', 138), ('teams', 138), ('role', 137), ('other', 137), ('status', 133), ('help', 132), ('science', 130), ('across', 129), ('like', 129), ('products', 128), ('job', 125), ('opportunity', 124), ('company', 123), ('new', 121), ('etl', 120), ('gender', 119), ('disability', 117), ('python', 116), ('please', 116), ('using', 115), ('degree', 115), ('not', 114), ('management', 114), ('strong', 111), ('azure', 111), ('related', 110), ('what', 108), ('scalable', 107), ('software', 107), ('analytics', 106), ('cloud', 105), ('time', 103), ('such', 103), ('tools', 103), ('show', 103), ('all', 101), ('processes', 101), ('their', 100), ('best', 100), ('beyond', 100), ('employment', 100), ('one', 99), ('technology', 99), ('opportunities', 99), ('computer', 98), ('000', 97), ('ensure', 96), ('process', 96), ('can', 95), ('infrastructure', 95), ('accommodations', 95), ('preferred', 94), ('field', 94), ('applicable', 94), ('position', 92), ('knowledge', 91), ('based', 90), ('year', 89), ('future', 88), ('include', 88), ('security', 87), ('implement', 87), ('create', 86), ('engineers', 86), ('requirements', 85), ('key', 85), ('may', 83), ('models', 82), ('scale', 81), ('use', 80), ('learning', 80), ('base', 80), ('required', 79), ('complex', 79), ('insights', 79), ('information', 79), ('also', 78), ('protected', 78), ('any', 77), ('problems', 77), ('businesses', 77), ('services', 76), ('who', 76), ('sexual', 76), ('challenges', 76), ('responsibilities', 76), ('well', 75), ('aws', 75), ('collaborate', 74), ('needs', 74), ('performance', 74), ('digital', 74), ('amazon', 74), ('growth', 73), ('equal', 73), ('through', 73), ('high', 72), ('employer', 72), ('law', 72), ('develop', 71), ('salary', 71), ('shape', 71), ('projects', 71), ('some', 70), ('location', 70), ('manage', 70), ('impact', 69), ('modeling', 69), ('part', 69), ('applications', 69), ('community', 69), ('most', 68), ('experiences', 67), ('spark', 67), ('equity', 67), ('range', 66), ('architecture', 66), ('minimum', 66), ('way', 66), ('committed', 66), ('users', 66), ('programming', 65), ('make', 65), ('while', 65), ('environment', 65), ('employees', 65), ('internal', 65), ('identify', 65), ('bachelor', 65), ('bonus', 65), ('drive', 65), ('global', 65), ('understanding', 64), ('optimize', 64), ('need', 64), ('applicants', 63), ('com', 63), ('partner', 62), ('analytical', 62), ('scientists', 61), ('where', 61), ('practices', 60), ('address', 60), ('improve', 60), ('connect', 60), ('qualified', 60), ('code', 59), ('customers', 59), ('individual', 59), ('solving', 59), ('career', 59), ('paid', 58), ('around', 58), ('but', 58), ('language', 58), ('big', 58), ('intelligence', 58), ('providing', 57), ('leverage', 57), ('large', 57), ('production', 57), ('frameworks', 56), ('partners', 56), ('ownership', 56), ('communication', 56), ('service', 55)]

In [131]:
import re

skills_alvo = {
    'python': [r'\bpython\b', r'\bpython[,\\.;]'],
    'sql': [r'\bsql\b', r'\bmysql\b', r'\bpostgresql\b'],
    'power_bi': [r'\bpower\s*bi\b', r'\bpowerbi\b'],
    'tableau': [r'\btableau\b'],
    'excel': [r'\bexcel\b'],
    'machine_learning': [r'\bmachine\s*learning\b', r'\bml\b'],
    'spark': [r'\bspark\b'],
    'aws': [r'\baws\b'],
    'azure': [r'\bazure\b']
}

contagem_de = defaultdict(int)

for desc in df_de['description'].dropna().str.lower():
    for skill, padroes in skills_alvo.items():
        for padrao in padroes:
            contagem_de[skill] += len(re.findall(padrao, desc))

print(sorted(contagem_de.items(), key=lambda x: x[1], reverse=True))

[('python', 175), ('sql', 158), ('azure', 111), ('aws', 75), ('spark', 67), ('machine_learning', 60), ('power_bi', 18), ('tableau', 12), ('excel', 2)]

In [139]:
print(contagem_de.items())
print(contagem_da.items())
print(contagem_ds.items())

dict_items([('python', 175), ('sql', 158), ('power_bi', 18), ('tableau', 12), ('excel', 2), ('machine_learning', 60), ('spark', 67), ('aws', 75), ('azure', 111)])
dict_items([('python', 89), ('sql', 118), ('power_bi', 82), ('tableau', 77), ('excel', 47), ('machine_learning', 20), ('spark', 8), ('aws', 13), ('azure', 13)])
dict_items([('python', 135), ('sql', 98), ('power_bi', 21), ('tableau', 20), ('excel', 3), ('machine_learning', 110), ('spark', 13), ('aws', 9), ('azure', 10)])

In [153]:
df_skills = pd.DataFrame({
    'Data Engineer': contagem_de,
    'Data Analyst': contagem_da,
    'Data Scientist': contagem_ds,
}).fillna(0)

df_skills['Total Geral'] = df_skills.sum(axis=1)

df_skills = df_skills.sort_values(by='Total Geral', ascending=False)

print(df_skills)

                  Data Engineer  Data Analyst  Data Scientist  Total Geral
python                      175            89             135          399
sql                         158           118              98          374
machine_learning             60            20             110          190
azure                       111            13              10          134
power_bi                     18            82              21          121
tableau                      12            77              20          109
aws                          75            13               9           97
spark                        67             8              13           88
excel                         2            47               3           52

In [155]:
df_skills.to_csv('skills_por_cargo.csv', index=True)